# Backend
backend/**/bin/
backend/**/obj/
backend/**/appsettings.Development.json
backend/**/appsettings.Local.json
backend/db/backups/
*.user

# Documents / backups not needed to run the app
*.pdf
*.bak

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/coverage/

# Editor
.vscode/
.idea/
.vs/
**/.vs/

# OS
Thumbs.db
.DS_Store
