-- 047: Carga del inventario real de Lavanderia Lavixa (lista entregada por el cliente).
-- Los items se clasifican en las 3 clases del inventario:
--   INSUMO   = insumos consumibles (quimicos, consumibles de oficina)
--   MATERIAL = materiales y herramientas de trabajo (reutilizables)
--   EQUIPO   = equipos de trabajo (maquinas, aparatos, muebles durables)
-- Se cargan en la "Sede Principal" de Lavixa con stock 0 (el negocio registra sus
-- compras luego). Idempotente: no duplica un insumo que ya exista con el mismo nombre
-- en esa sede. Las unidades son una sugerencia editable desde la ficha del insumo.
SET QUOTED_IDENTIFIER ON;
GO

DECLARE @SedeId INT = (
    SELECT TOP 1 s.Id
    FROM dbo.Sede s
    JOIN dbo.Negocio n ON n.Id = s.NegocioId
    WHERE n.Nombre = N'Lavanderia Lavixa' AND s.Nombre = N'Sede Principal'
    ORDER BY s.Id
);

IF @SedeId IS NULL
    PRINT '047: no se encontro Lavixa / Sede Principal — se omite la carga de inventario.';
ELSE
BEGIN
    INSERT INTO dbo.Insumo (SedeId, Nombre, UnidadMedida, Clase, ContenidoValor, ContenidoUnidad, StockActual, StockMinimo, Activo)
    SELECT @SedeId, v.Nombre, v.Unidad, v.Clase, NULL, NULL, 0, 0, 1
    FROM (VALUES
        -- ---------- INSUMOS CONSUMIBLES ----------
        (N'Detergente líquido Prodex',            N'L',      N'INSUMO'),
        (N'Detergente líquido Limexa',            N'L',      N'INSUMO'),
        (N'Detergente en polvo Patito',           N'kg',     N'INSUMO'),
        (N'Detergente en polvo Limexa',           N'kg',     N'INSUMO'),
        (N'Detergente hipoalergénico Prodex',     N'L',      N'INSUMO'),
        (N'Detergente líquido ropa color Prodex', N'L',      N'INSUMO'),
        (N'Desengrasante textil Prodex',          N'L',      N'INSUMO'),
        (N'Desengrasante textil Limexa',          N'L',      N'INSUMO'),
        (N'Suavizante textil Prodex',             N'L',      N'INSUMO'),
        (N'Suavizante textil Limexa',             N'L',      N'INSUMO'),
        (N'Quitamanchas textil Prodex',           N'L',      N'INSUMO'),
        (N'Lejía al 4%',                          N'L',      N'INSUMO'),
        (N'Lejía al 8%',                          N'L',      N'INSUMO'),
        (N'Jabón en barra Bolívar',               N'unidad', N'INSUMO'),
        (N'Agua de mesa',                         N'unidad', N'INSUMO'),
        (N'Café',                                 N'kg',     N'INSUMO'),
        (N'Azúcar',                               N'kg',     N'INSUMO'),
        (N'Filtrantes',                           N'caja',   N'INSUMO'),
        (N'Jabón líquido para manos',             N'L',      N'INSUMO'),
        (N'Guantes de látex descartables',        N'caja',   N'INSUMO'),
        (N'Cinta de embalaje',                    N'unidad', N'INSUMO'),
        (N'Papel contómetro 80 mm (ticketera)',   N'rollo',  N'INSUMO'),
        -- ---------- MATERIALES Y HERRAMIENTAS ----------
        (N'Mandiles',                             N'unidad', N'MATERIAL'),
        (N'Guantes de látex largos',              N'par',    N'MATERIAL'),
        (N'Rociadores',                           N'unidad', N'MATERIAL'),
        (N'Escobillas de ropa',                   N'unidad', N'MATERIAL'),
        (N'Escobillas para zapatillas',           N'unidad', N'MATERIAL'),
        -- ---------- EQUIPOS DE TRABAJO ----------
        (N'Planchador',                           N'unidad', N'EQUIPO'),
        (N'Plancha',                              N'unidad', N'EQUIPO'),
        (N'Ticketera',                            N'unidad', N'EQUIPO'),
        (N'Celular',                              N'unidad', N'EQUIPO'),
        (N'Balanza',                              N'unidad', N'EQUIPO'),
        (N'Escritorio',                           N'unidad', N'EQUIPO'),
        (N'Silla giratoria',                      N'unidad', N'EQUIPO'),
        (N'Sillas blancas con posabrazos',        N'unidad', N'EQUIPO'),
        (N'Bancas plásticas',                     N'unidad', N'EQUIPO'),
        (N'Estantes de melamina para ropa',       N'unidad', N'EQUIPO'),
        (N'Mostrador',                            N'unidad', N'EQUIPO'),
        (N'Mesa de trabajo',                      N'unidad', N'EQUIPO'),
        (N'Microondas',                           N'unidad', N'EQUIPO'),
        (N'Hervidor',                             N'unidad', N'EQUIPO')
    ) AS v(Nombre, Unidad, Clase)
    WHERE NOT EXISTS (
        SELECT 1 FROM dbo.Insumo i WHERE i.SedeId = @SedeId AND i.Nombre = v.Nombre
    );

    PRINT '047: inventario de Lavixa cargado en Sede Principal (' + CAST(@@ROWCOUNT AS VARCHAR) + ' insumos nuevos).';
END
GO
